/* GLOBAL */
body{
    background-color: #303030;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* HEADER */
header {

    color: #ffffff;
    background-color: #212121;
    padding-top: 15px;
    min-height: 70px;
    border-bottom: #6e5494 7.5px Solid;
}

header a {
    font-size: 17px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

header ul {
    padding: 0;
    margin: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 40px 0 40px;

}

header nav {
    float: right;
    margin-top: 25px;
}

header #headermsg {
    font-size: 19px;
    float: left;
}

header #headermsg h1 {

    margin-top: 5px;
}

header a:hover {
    color: #9e81c5;
    font-weight: bold;
}

header .highlight, header .currentPage {
    color: #6e5494;
    font-weight: bold;
}

header img {
    margin-left: 15px;
    width: auto;
    max-height: 65px;
}

/* MAIN */

main a:hover {
    color: #9e81c5;
    font-weight: bold;
}

/* MAIN HOME */
#main_home img {
    display: block;
    margin: auto;
}

/* MAIN 2048 */

#main_2048 #game_container{
    margin: auto;
    margin-top: 20px;
    padding-bottom: 10px;
    width: 50%;
    background-color: #424242;
    border-top: #9e81c5 4px Solid;
    text-align: center;
    color: #ffffff;
}

#game_container img {
    margin: auto;
    display: block;
    width:97.5%;
}

#msg2048 {
    line-height: 50px;
    font-size: 16px;
    opacity: 0.8;
}

