/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

html {
  scroll-behavior: smooth;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

#name {
  font-size: 3rem;
}

#name-body {
  font-size: 1.25rem;
}

.section-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.section-body {
  font-size: 0.9rem;
}

.arrow-rotate {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.title-slide-up {
  -webkit-animation: title-slide-up 0.5s ease-in forwards;
          animation: title-slide-up 0.5s ease-in forwards;
}
@-webkit-keyframes title-slide-up {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px); 
    opacity: 0.1;
  }
  40% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px); 
    opacity: 0.1;
  }
  100% { 
    -webkit-transform: translateY(0); 
            transform: translateY(0); 
    opacity: 1;
  }
}
@keyframes title-slide-up {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px); 
    opacity: 0.1;
  }
  40% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px); 
    opacity: 0.1;
  }
  100% { 
    -webkit-transform: translateY(0); 
            transform: translateY(0); 
    opacity: 1;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  html {
    scroll-behavior: smooth;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  #name {
    font-size: 3.5rem;
  }
  #name-body {
    font-size: 1.25rem;
  }
  .section-name {
    font-size: 1.5rem;
  }
  .section-body {
    font-size: 1rem;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #name {
    font-size: 4rem;
  }
  #name-body {
    font-size: 1.5rem;
  }
  .section-name {
    font-size: 1.5rem;
  }
  .section-body {
    font-size: 1rem;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #name {
    font-size: 5rem;
  }
  #name-body {
    font-size: 1.75rem;
  }
  .section-name {
    font-size: 1.75rem;
  }
  .section-body {
    font-size: 1rem;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  #name {
    color: white !important;
    font-size: 6rem;
  }
  #name-body {
    font-size: 2rem;
  }
  .section-name {
    font-size: 2rem;
  }
  .section-body {
    font-size: 1rem;
  }
}

body, main {
  font-family: 'Roboto', sans-serif;
}

.text-purple {
  color: #b19cd9;
}

.text-title-purple {
  color: #e4cfff;
}

.text-secondary-purple {
  color: #b5aacb;
}

.border-purple {
  border-color: #b19cd9 !important;
}

.bg-purple {
  background-color: #b19cd9;
}

.border-darker {
  border-color: #2e3338;
}

.bg-darker {
  background-color: #2e3338;
}

.bg-red {
  background-color: #d9534f;
}

.font-size-small {
  font-size: 0.85rem;
}

.navbar {
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navhover:hover {
  color: #b19cd9 !important;
  cursor: pointer;
}

/* Navbar Ease In/Out */
.nav-trans-in {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: rgba(52, 58, 64, 0.95) !important;
}

.nav-trans-out {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
}

/* Elements Slide Up */
.title-anim, .left-nav-anim, .right-nav-anim, .mobile-right-nav-anim, .about, .project, .contact {
  opacity: 0;
}

/* Elements Slide Up */
.slide-up {
  animation: slide-up 0.4s ease-in 0.35s forwards;
  -webkit-animation: slide-up 0.4s ease-in 0.35s forwards;
}
@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(25px); 
    -webkit-opacity: 0;
  }
  100% { 
    -webkit-transform: translateY(0); 
    -webkit-opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px); 
    opacity: 0;
  }
  100% { 
    -webkit-transform: translateY(0); 
            transform: translateY(0); 
    opacity: 1;
  }
}

/* Elements Slide Down */
.slide-down {
  animation: slide-down 0.4s ease-in 0.35s forwards;
  -webkit-animation: slide-down 0.4s ease-in 0.35s forwards;
}
@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(-25px); 
    -webkit-opacity: 0;
  }
  100% { 
    -webkit-transform: translateY(0); 
    -webkit-opacity: 1;
  }
}
@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px); 
    opacity: 0;
  }
  100% { 
    -webkit-transform: translateY(0); 
            transform: translateY(0); 
    opacity: 1;
  }
}

/* Border Sliding */
.border-slide:after {
  content: '';
  display: block;
  margin-top: 5px;
  height: 3px;
  width: 0px;
  background: #b19cd9;
  -webkit-animation: border-slide 0.5s ease-in 0.35s forwards;
          animation: border-slide 0.5s ease-in 0.35s forwards;
}
@-webkit-keyframes border-slide {
  0% {
    width: 0px;
  }
  100% { 
    width: 100%;
  }
}
@keyframes border-slide {
  0% {
    width: 0px;
  }
  100% { 
    width: 100%;
  }
}

/* About Section */
#profile-pic {
  border: 2px solid #b19cd9;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#profile-pic:hover {
  cursor: pointer;
  z-index: 1;
}

.tech-icons:hover {
  color: #b19cd9;
}