html {
  scroll-behavior: smooth;
}

body, main {
  font-family: 'Roboto', sans-serif;
}

.text-purple {
  color: #b19cd9;
}

.border-purple {
  border-color: #b19cd9;
}

.bg-purple {
  background-color: #b19cd9;
}

.border-darker {
  border-color: #2e3338;
}

.bg-darker {
  background-color: #2e3338;
}

.bg-red {
  background-color: #d9534f;
}

.font-size-small {
  font-size: 0.85rem;
}

.navbar {
  transition-timing-function: ease-in;
  transition: 0.5s;
}

.navhover {
  opacity: 0;
}

.navhover:hover {
  color: #b19cd9 !important;
  cursor: pointer;
}

/* Navbar Ease In/Out */
.nav-trans-in {
  transform: translateY(0);
  transition-timing-function: ease-in;
  transition: 0.2s;
  background-color: rgba(52, 58, 64, 0.95) !important;
}

.nav-trans-out {
  transition: 0.25s;
  transition-timing-function: ease-out;
  transform: translateY(-130%);
}

/* Elements Come In */
.part1, .part2, .part3, .part4, .part5 {
  opacity: 0;
}

.come-in {
  animation: come-in 0.4s ease-in 0.375s forwards;
  -webkit-animation-name: come-in;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-delay: 0.15s;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translateY(25px); 
    -webkit-opacity: 0;
  }
  100% { 
    -webkit-transform: translateY(0); 
    -webkit-opacity: 1;
  }
}

@keyframes come-in {
  0% {
    transform: translateY(25px); 
    opacity: 0;
  }
  100% { 
    transform: translateY(0); 
    opacity: 1;
  }
}